.page.theme_light {
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-text-color: #353430;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #353430;
  --bg-color: #ff8dcb;
  --page-bg-color: #fff1f7;
  --page-bg-img: url(../images/cover-image-light.png);
  --rec: hidden;
  --border-hover: rgb(50, 49, 45, 0.4);
  --link-shadow: #ff8dcb;
  --button-color: #353430;
  --link-line: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-text-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --menu-color: #353430;
    --accent-color: #ff8dcb;
    --header-color: #353430;
    --bg-color: #ff8dcb;
    --page-bg-color: #fff1f7;
    --page-bg-img: url(../images/cover-image-light.png);
    --rec: hidden;
    --border-hover: rgb(50, 49, 45, 0.4);
    --link-shadow: #ff8dcb;
    --button-color: #353430;
    --link-line: #353430;
  }
}
