.page {
  font-family: IBM Plex Mono,sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  display: grid;
  padding: 10px;
  min-block-size: 100vh;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  text-transform:lowercase;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  color: var(--menu-color);
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
 font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
 color: var(--title-color);
 text-shadow: 4px 4px 0 var(--accent-color);
 font-weight: 700;
 line-height: 95.7px;

}

.header__text {
  background-color: var(--bg-color);
  color: var( --title-text-color);
  font-size: 18px;
  font-weight: 700;
  margin-block: 55px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content:"";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--h2-color);
  border-block-start: 1px solid var(--h2-color);
  inset-inline-end: 10px;
  inset-block-start: 9px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--h2-color);
  border-block-end: 1px solid var(--h2-color);
  inset-inline-start: 10px;
  inset-block-end: 11px;
}

.rec__icon {
  position: absolute;
  visibility:var(--rec);
  inset-inline-end: 19px;
  inset-block-start: 10px;
  display: inline-flex;
  align-items: center;
  gap:10px;
}

.rec__icon::before {
  content: "REC";
  font-size: 18px;
  color: #FF0070;
  z-index: -1;
}

.rec__icon::after {
  content:"";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 9px;
  background-color: #FF0070;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--h2-color);

}

.section__crossline {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-text-color);
  background-color: var(--bg-color);
}

.section__text {
  font-weight: 400;
}

.article__gap {
  display: grid;
  gap: 20px;
}

.article{
  display: grid;
  gap: 10px;

}

.main {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.link {
  text-shadow: 2px 2px 0  var(--link-shadow);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}


.section__img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;

}

.section__img-list {
  display: grid;
  gap:10px;
}

.section__img-gap {
  gap:10px;
}

.footer {
  display: grid;
  min-block-size:100vh;
  place-items: center;
}

.footer__title{
 font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
 color:var(--title-color);
 text-shadow: 2px 2px 0 var(--accent-color);
 font-weight: 700;
 line-height: 95.7px;
}

@media  (width >=768px) {

  .header {
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 177px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
   }

  .header__text {
   justify-self: end;
   inline-size:clamp(364px, calc(100% / 2 - 10px), 491px);
   margin-block: 163px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 19px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .rec__icon {
    inset-inline-end: 29px;
    inset-block-start: 20px;

  }

  .main {
    padding: 60px 20px;
    gap:80px;
  }

  .section {
    grid-template-columns:clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section__colums {
    grid-column-start: span 2;

  }

  .section__img-gap{
    grid-template-columns: 1fr;
    gap:20px;
  }

  .section__img-grid {
    
    grid-template-columns: repeat(3,1fr);
    gap:20px;
  }

  .item:first-child,
  .item:last-child {
    grid-column-start: span 2;
  }

  .item:nth-child(2),
  .item:nth-child(3) {
    grid-row-start: span 2;
  }

  .footer {
    display: grid;
    place-items: center;
    min-block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media  (width >=1024px) {


   .header__theme-menu{
    justify-self: center;
    margin-block-start: -2px;
    margin-block-end: 293px;
    margin-inline-start: 20px;
   }

   .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }


  .header__text {
    margin-block: 131px;
   }

   .main {
    padding: 44px 20px 60px;
    gap:80px;
  }

   .section {
    column-gap:32px;
  }

  .section__colums {
    grid-template-columns: repeat(3, 1fr);
  }

}